<!DOCTYPE html>
<head>
  <title>Create New Account</title>
  <link rel="stylesheet" href="/styles/style.css">
  <meta charset = "UTF-8">
</head>
<body>
  <div align= "center">
  <div class = "container">
  <!--Insert Quack Logo here-->
  <img class="quackLogo" src="images\Logo_1_blackoutline.png">
  <h1 class="orange">Create an Account!</h1>
  <br>
  <form action="/create_new" method="post">
    <div class="inputs">
    <label class="login">Name: </label>
    <input type="text" name="user" value={{user}}><br>
    <label class="login">Username: </label>
    <input type="text" name="username" value={{username}}><br>
    <label class="login">Password: </label>
    <input type="text" name="password" value={{password}}><br>
    <input type="Submit" value="Create!">
    </div>
  </form>
 </div>
</div>
</body>
