<!DOCTYPE html>
<head>
  <title>Create New Account</title>
  <link rel="stylesheet" href="../styles/newstyle.css">
  <meta charset = "UTF-8">
</head>
<body>
  <!--Insert Quack Logo here-->
  <h1 id="create">Create New Account!</h1>
  <br>
  <form action="/create_new" method="post">
    <p>Name: <input type="text" name="user" value={{user}}></p>
    <p>Username: <input type="text" name="username" value={{username}}></p>
    <p>Password: <input type="text" name="password" value={{password}}></p>
    <input type="Submit" value="Create!">
    <p><a href="/forums">Ask a question in the Forums</p>
  </form>
</body>
