<!DOCTYPE html>
<head>
  <title>Citizenship Creator</title>
  <link rel="stylesheet" href="/styles/minor.css">
</head>
<body>
  <div class="main">
    <form method="post">
      <h1>Welcome to the Duckpartment of Motor Vehicles!</h1> <br>
      <h2>Let's get your picture and name, please!</h2>
      <input class="user_picture"  type="Submit" value="Get your ID!">
      <img src="/images/IDCardIcon_1.png" id="defaultPicture" alt="RandomDuckPicture">
      <label>ID: {{random_profile_picture}}</label>
      <label>Name: {{random_first_name}} {{random_last_name}}</label>
    </form>
  </div>

</body>

<!--
gameresults.html code
<!DOCTYPE html>
<head>
  <title>Citizenship Results</title>
</head>
<body>
  <div class="pagetitle">
    <h1>Your ID</h1>
    <p>{{random_profile_picture}}</p>
    <h2>Your Name</h2>
    <p>{{random_first_name}} {{random_last_name}}</p>
  </div>
</body>
