<!DOCTYPE html>
<head>
  <title>Citizenship Creator</title>
  <link rel="stylesheet" href="/styles/minor.css">
</head>
<body>
  <div class="main">
    <form method="post">
      <h1>Welcome to the Duckpartment of Motor Vehicles!</h1> <br>
      <p>First, let's take a picture.</p>
      <input class="user_picture"  type="Submit" value="Take A Picture!">
      <img src="/images/RDPlain.png" id="defaultPicture" alt="RandomDuckPicture">
      <p>Secondly, let's get your name.</p>
      <label>Name: {{random_first_name}} {{random_last_name}}</label>

      <input class="user_name" type="Submit" value="Get Your Name!">
    </form>
  </div>

</body>

<!--
gameresults.html code
<!DOCTYPE html>
<head>
  <title>Citizenship Results</title>
</head>
<body>
  <div class="pagetitle">
    <h1>Your ID</h1>
    <p>{{random_profile_picture}}</p>
    <h2>Your Name</h2>
    <p>{{random_first_name}} {{random_last_name}}</p>
  </div>
</body>
-->
