<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/styles/homestyle.css">
    <meta charset="utf-8">
    <title>Quacked Up!</title>
  </head>
  <body>
    <h1 id="home">Quacked Up</h1>
<!--      <p><a href="/login">Return to Login screen</p> -->
    <div>
      <form class="" action="/home" method="post">
        <h2>New Post</h2>
        <p> <input type="text" name="new_post" value="{{new_post}}"> </p>
        <h2> <input type="submit" name="submit_post" value="Submit Post"> </h2>
      </form>
    </div>
    <div>

      <!-- TODO: DELETE THIS WHEN FINAL VERSION -->
      {{posts}}

      {% for item in posts| reverse %}
        <div class = "post">
          <p>
            <img class="pic" id="profilePic" src="images\Logo_1_blackoutline.png">
            <p>{{username}}</p>
            {{item['text']}}
          </p>
        </div>
      {% endfor %}
      <!-- this is where new text is inputted -->
      <!-- remember to display date & time -->
    </div>
  </body>
