<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="../styles/loginstyle.css">
</head>
<body>
  <div>
  <div class="center">
  <div class = "container">
    <!--Insert Quack Logo here-->
    <h1 class="log_in">Log in!</h1>
    <form class="center" action="/login" method="post">
      <img class="pic" id="quackLogo" src="images\Logo_1_blackoutline.png"> <br> </br>
      <div class="inputs">
        <label class="login">Username: </label>
        <input type="text" name="username" value={{username}}> <br> <br>
        <label class="login">Password: </label>
        <input type="text" name="password" value={{password}}> <br> <br>
        <input type="submit" name="" value="Login">
        <label>or: </label>
        <li><a href="/create_new">Create New</li>
        <p><a href="/forums">Ask a question in the Forums</p> <!--????-->
      </div>
    </form>
  </div>
</div>
</body>
