<!DOCTYPE html>
<head>
  <title>Create New Account</title>
  <link rel="stylesheet" href="../styles/mainstyle.css">
  <!--Let's makes a seperate mainstyle.css stylesheet-->
  <meta charset = "UTF-8">
</head>
<body>
  <!--This is going to be a grid with 1 row and 2 cloumns, splitting the screen in half-->
  <div class="grid">
    <div id = "">
      <!--Insert ProfileIcon.png here--><h2>Create your own Duck Profile.</h2>
      <!--Insert FriendsIcon.png here--><h2>Connect with other Duck friends.</h2>
      <!--Insert ForumIcon_1.png here--><h2>Quack on the Forum.</h2> <!--this is a quacking website-->
    </div><!--We can color it #B3E5FC-->

    <div id = "">
      <!--uhhhh I don't think this is going to work...-->
      <img class="pic" src="images\Logo_1_blackoutline.png">
      <h1 id= "welcome">Welcome to Quacked Up! See what other Ducks are quacking about. (Probably cringy, change as you wish)</h1>
      <br>
      <h2>Join Quack today.</h2>
      <p><a href="/login">Login</li> <!--Make sure these are links-->
      <br>
      <p><a href="/create_new">Create New Account</li><!--Style them as seperate divs so they LOOK like buttons :) (Marissa will do this last)-->
      <br>
      <p><a href="/forums">Ask a question in the Forums</p><!--How do you do this if you're not logged in yet?-->
    </div>
  </div>
</body>

<!-- Not sure what this was for lol
   <form action="/navigation" method="post">
     <input type="Submit" value="Login">
     <form action="/create_new" method="post">
       <input type="Submit" value="Create New Account">
     </form>
   </form> -->
