<!DOCTYPE html>
<head>
  <title>Create New Account</title>
  <link rel="stylesheet" href="../styles/mainstyle.css">
  <meta charset = "UTF-8">
</head>
<body>
  <h1 id= "welcome">Welcome to Quacked Up!</h1>
  <!--Placeholder for duck image-->
  <div>
      <p><a href="/login">Login</li>
      <br>
      <p><a href="/create_new">Create New</li>
      <br>
</div>
  <!--
    <form action="/navigation" method="post">
      <input type="Submit" value="Login">
      <form action="/create_new" method="post">
        <input type="Submit" value="Create New Account">
      </form>
    </form> -->
</body>
