<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <img class="pic" id="meems" src="images\monsoonmeme.jpg">
    <img class="pic" id="meems" src="images\canadianduck.jpg">
    <img class="pic" id="meems" src="images\weatherduck.jpg">
    <img class="pic" id="meems" src="images\bananaduck.jpg">
    <img class="pic" id="meems" src="images\theysaidduck.jpg">
    <img class="pic" id="meems" src="images\triggeredduck.jpg">
    <img class="pic" id="meems" src="images\satanicducks.jpg">
    <img class="pic" id="meems" src="images\dolan.jpg">
    <img class="pic" id="meems" src="images\legitduck.jpg">
    <img class="pic" id="meems" src="images\annoyingduck.jpg">
    <img class="pic" id="meems" src="images\conquestduck.jpg">
    <img class="pic" id="meems" src="images\lequack.jpg">
    <img class="pic" id="meems" src="images\donaldduckmeme.jpg">
    <img class="pic" id="meems" src="images\sickos.jpg">
    <img class="pic" id="meems" src="images\evilduck.jpg">
  </body>
