<!DOCTYPE html>
<head>
  <title>Navigation Page</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="style.css">
  <!--Let's makes a seperate navigation.css stylesheet-->
</head>
<body>
  <!--This grid will have 1 row, 3 columns. Size the columns properly-->
  <!--And then place id=center in the center column (we do this for every page except main.html)-->
  <div class="grid" id="center">
    <!--Remove "header" id only until we're done with navigation.css-->
    <div id="header">
      <h1>Navigation Page</h1>
    </div>
    <!--I put all of the links so we can style them as banners going down horizontally-->
    <div id="banner">
      <!--Insert ForumIcon_2.png here--><h2><a href="/">Feed</h2> <!--"Feed" or "Forums?", I say feed lol-->
    </div>
    <div id="banner">
      <!--Insert ProfileIcon.png here--><h2><a href="/profile">Profile</h2>
    </div>
    <!--Extension: add a Friends banner: (It'll just be there for looks for now lol)-->
    <div id="banner">
      <!--Insert FriendsIcon.png here--><h2>Friends</h2> <!--Took out the href, this is just for the looks FOR NOW-->
    </div>
    <div id="banner">
      <!--Insert SettingsIcon.png here--><h2><a href="/">Settings</h2>
    </div>
    <div id="banner">
      <!--Insert GameIcon.png here--><h2><a href="/">Game</h2>
    </div>
  </div>
</body>
<!-- Ex: <p href="http://www.rubberducks.com/home">Home</p>
