<!DOCTYPE html>
<head>
  <title>Navigation Page</title>
  <link rel="stylesheet" href="styles\style.css">
  <!--Let's makes a seperate navigation.css stylesheet-->
</head>
<body id="navbody">
  <div class = "container">
  <!--This grid will have 1 row, 3 columns. Size the columns properly-->
  <!--And then place id=center in the center column (we do this for every page except main.html)-->
      <div class="grid" id="center">
        <!--Remove "header" id only until we're done with navigation.css-->
        <div id="header">
          <h1 class="black">Navigation Page!</h1>
        </div>
        <!--I put all of the links so we can style them as banners going down horizontally-->
        <div class="banners" id="banner1">
          <img class="pic" id="ForumIcon2" src="images\ForumIcon_2.png"><h2><a href="/home">Feed</a></h2> <!--"Feed" or "Forums?", I say feed lol-->
        </div>
        <div class="banners" id="banner2">
          <img class="pic" id="profileIcon" src="images\ProfileIcon.png"><h2><a href="/profile">Profile</a></h2>
        </div>
        <!--Extension: add a Friends banner: (It'll just be there for looks for now lol)-->
        <div class="banners" id="banner3">
          <img class="pic" id="friendIcon" src="images\FriendsIcon.png"><h2><a href="/profile">Duck Pond</a></h2> <!--Took out the href, this is just for the looks FOR NOW-->
        </div>
        <div class="banners" id="banner4">
          <img class="pic" id="gameIcon" src="images\GameIcon.png"><h2><a href="/VendMach">Game</a></h2>
        </div>
        <div class="banners" id="banner5">
          <img class="pic" id="settingsIcon" src="images\SettingsIcon.png"><h2><a href="/Settings">Settings</a></h2>
        </div>
        <img class="pic" id="quackLogo" src="https://www.pixilart.com/images/art/2397c2d3706d017.gif">
      </div>
    </div>
</body>
<!-- Ex: <p href="http://www.rubberducks.com/home">Home</p>
