<!DOCTYPE html> <!--This is what the USER sees, what others see is not until laters-->
<head>
  <title>Profile</title>
  <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class = "container">
  <div id="top" class="profileTop">
      <img class="pic" id="profileQuackLogo" src="images\Logo_1_blackoutline.png">
      <div id="username">
      <h2 id="profileName">{{name}}</h2><!--Will be {{name}} LATER and we'll pull this info from the database. For now, just hardcode "name"-->
      <h3 id="profileUserName">@{{username}}</h3><!--Will be {{username}} LATER and we'll pull this info from the database. For now, just hardcode "username"-->
    </div>
  </div>

  <div id="toolbar"> <!--aka toolbar style-->
    <form class="" action = "/profile" method="post">
      <p>You have {{friend_count}} friends in your duck pond!!!</p>
      <input type="submit" value="Add Friend" name="counter">
    </form>
    <form class="" action="/editProfile" method="post">
      <input type="submit"  value="Edit Profile">
    </form>
  </div>
  <div class="align">
  <div id="feed"><!--Should only see the user's feed aka blog posts (text only)-->

    <p>Why was the duck put into the basketball game? To make a fowl shot.</p>
    <p>Why was the foul so slow? It was born a rotten egg</p>
    <p>What doctor always fails his operations? A quack doctor.</p>
    <p>What did the duck say when he bought a Boar Vessel, 600-500 BC, Etruscan, ceramic? "Put it on my bill"</p>
    <p>Why couldn't the man bring his dog to the duck festival? It was a pure bread dog.</p>

  </div>
</div>
    <p><a href="/navigation">Return to the Navigation Page</li>
</div>
</body>
