<!DOCTYPE html> <!--This is what the USER sees, what others see is not until laters-->
<head>
  <title>Profile</title>
  <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class = "container">
  <div id="top">
      <img class="pic" id="quackLogo" src="images\Logo_1_blackoutline.png">
      <div id="username">
      <h2>{{name}}</h2><!--Will be {{name}} LATER and we'll pull this info from the database. For now, just hardcode "name"-->
      <h3>{{username}}</h3><!--Will be {{username}} LATER and we'll pull this info from the database. For now, just hardcode "username"-->
    </div>
  </div>

    <div id="toolbar"> <!--aka toolbar style-->
      <p>Friends: 111</p>
      <input type="button" onclick="alert('Friend Request Sent!')" value="Add Friend">
      <input type="button" onclick="alert('Editting Profile')" value="Edit Profile">
    </div>
    <div id="feed"><!--Should only see the user's feed aka blog posts (text only)-->
      <br>
      <p1> How much wood could a wood chuck chuck if a wood chuck could chuck wood? </p1>
    </div>
</div>
</body>
