.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1000px;
}

#left1 {
  grid-column: 1/2;
  background-color: #B3E5FC;
}
#left2 {
  grid-column: 2/2;
  text-align: left;
  background-color: #B3E5FC;
}
#right {
  grid-column: 3/5;
}

h2 {
  font-size: 10px;
}

h1{
  text-align: center;
  font-family: impact, Charcoal, sans-serif;
  font-size: 90px
}

div{
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}

#welcome{
  color: black;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}
a:link {
    color: #f9dd39;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

#quackLogo{
  height: 100px;
  width: 100px;
}
#profileIcon{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#friendIcon{
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 100px;
  width: 100px;
}

#ForumIcon1 {
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 100px;
  width: 100px;
}
.textting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 32px;
  /*margin-top: 30%;*/
}

#profileText {
  margin-top: 50%;
}

#profileIcon {
  margin-top: 90%;
}

#joinq{
  font-size: 25px;
  font-family: 'Roboto' sans-serif;
  color: black;
}

body{
  margin:0;
}
