#ForumIcon2{
  height: 100px;
  width: 100px;
}

#profileIcon{
  height: 100px;
  width: 100px;
}
#settingsIcon{
  height: 100px;
  width: 100px;
}

#gameIcon{
  height: 100px;
  width: 100px;
}

#friendIcon{
  height: 100px;
  width: 100px;
}

#ForumIcon1{
  height: 100px;
  width: 100px;
}
