body {
  margin-top: 5px;
  background-color: #fffcaf;
}

.orange {
  text-align: center;
  font-family: impact, Charcoal, sans-serif;
  font-size: 70px;
  padding-top: 10px;
  color: orange;
}

.login {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

input {
  text-align: center;

}

.container {
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  width:40%;
  height: 100%;
  white-space: nowrap;
  text-align: center;
  align: center;
}

.inputs {
  text-align: center;
  margin-right: 0;
}

.quackLogo{
  height: 100px;
  width: 100px;
  padding-top: 100px;
}
