html, body{
  height: 100%;
}

body {
  margin-top: 5px;
  background-color: #fffcaf;

}

.orange {
  text-align: center;
  font-family: impact, Charcoal, sans-serif;
  font-size: 70px;
  padding-top: 10px;
  color: orange;
}

.login {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

input {
  text-align: center;

}

.container {
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  width:40%;
  height: 130%;
  white-space: nowrap;
  text-align: center;
  align: center;
  margin: auto;
}

.inputs {
  text-align: center;
  margin-right: 0;
}

.quackLogo{
  height: 150px;
  width: 150px;
  padding-top: 100px;
}

#Logo {
  text-align: center;
  font-family: impact, Charcoal, sans-serif;
  font-size: 90px;
}

#ForumIcon2{
  height: 55px;
  width: 55px;
}

#profileIcon{
  height: 55px;
  width: 55px;
}
#settingsIcon{
  height: 55px;
  width: 55px;
}

#gameIcon{
  height: 55px;
  width: 55px;
}

#friendIcon{
  height: 55px;
  width: 55px;
}

#ForumIcon1{
  height: 5px;
  width: 55px;
}

#navbody{
  margin-top: -42px;
}

.banners {
  white-space: nowrap;
  overflow: auto;
  padding-left: 150px;
}

#banner1{
  background-color: #fff6d6;
}
#banner3{
  background-color: #fff6d6;
}
#banner5{
  background-color: #fff6d6;
}

a:link {
    color: #f9dd39;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

.pic{
  float: right;
  padding-right: 200px;

}
